<footer class="footer p-3">
  <div class="content has-text-centered">
    <p>
      &copy; <%= config.app_name %> <%= new Intl.DateTimeFormat('en-US', { year: 'numeric'}).format(new Date()) %>
    </p>
  </div>
</footer>
