<footer class="footer p-3 has-text-light has-background-dark">
  <div class="content has-text-centered">
    <p>
      &copy; <%= env.COMPANY_NAME %> <%= new Intl.DateTimeFormat('en-US', { year: 'numeric'}).format(new Date()) %>
    </p>
  </div>
</footer>
