<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="https://bulma.io/images/placeholders/1280x960.png" alt="vehicle image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">2018 Chrysler Town & Country</p>
        <p class="subtitle is-6">
          <span><%= (Math.round(Number(mileage) / 100) * 100).toLocaleString()  %>mi</span>
          <% if (owners && owners === 1) { %>
            &middot;
            <span class="tag is-success">1 OWNER</span>
          <% } else if (typeof(mileage) === "number" && mileage <= 20000) { %>
            &middot;
            <span class="tag is-info">LOW MILES</span>
          <% } else if (typeof(epa) === "string") { %>
            &middot;
            <span>EPA <%= epa %></span>
          <% } %>
        </p>
      </div>
    </div>    
  </div>
  <div class="content">
    <div class="px-3 has-text-centered">
      <table class="table is-bordered">
        <thead>
          <tr>
            <th><b>Factory MSRP</b></th>
            <th><b>Our Price</b></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>$29,750</td>
            <td>$26,500</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <footer class="card-footer">
    <a href="#" class="card-footer-item">View More Details</a>
    <a href="#" class="card-footer-item">Share</a>
  </footer>  
</div>
