<nav class="navbar is-dark has-shadow">
  <!-- Logo -->
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="https://via.placeholder.com/640x160" width="112" height="28">
    </a>
  </div>

  <!-- Menu Buttons -->
  <div class="navbar-menu" style="align-items: center">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Top Brands
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item">
            Toyota
          </a>
          <a class="navbar-item">
            Honda
          </a>
          <a class="navbar-item">
            BMW
          </a>
          <a class="navbar-item">
            Ford
          </a>
        </div>
      </div>
    </div>

    <!-- Vehicle Search -->
    <div class="field m-0">
      <p class="control has-icons-left">
        <input class="input" type="text" placeholder="Search for a vehicle">
        <span class="icon is-small is-left">
          <i class="fas fa-search"></i>
        </span>
      </p>
    </div>

    <!-- End Buttons -->
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="bd-tw-button button is-primary">
              <span>
                Button
              </span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
