<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <title>20019 BMW 335i - <%= config.app_name %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <!-- Navigation -->
    <%- include('partials/navigation', config) %>

    <!-- Breadcrumbs -->
    <nav class="breadcrumb has-bullet-separator p-5" aria-label="breadcrumbs">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Search Results</a></li>
        <li class="is-active"><a href="#" aria-current="page">2009 BMW 335i (#281)</a></li>
      </ul>
    </nav>

    <!-- Vehicle Information Container -->
    <div class='container'>
      <h1 class="title">2009 BMW 335i</h1>
    </div>
    
    <!-- Vehicle Recommendations -->
    <% if (true === true) { %>
      <section class="hero is-light">
        <div class="hero-body">
          <p class="title">
            Similar Vehicles
          </p>
          <p class="subtitle">
            You may also be interested in these vehicles
          </p>
        </div>
      </section>    
      <div class='container'>
        <div class="columns p-3">
          <% for (let i = 0; i < 3; i++) { %>
            <div class="column is-4">
              <%- include('partials/item', {
                "context": {
                  "page": "listing"
                },
                "data": {
                  price: 30150,
                  msrp: 32900,
                  owners: i+1,
                  epa: {
                    "City": 36,
                    "Highway": 30
                  },
                  mileage: Math.floor(Math.random() * 100000)
                },
              }) %>
            </div>
          <% } %>
        </div>      
      </div>
    <% } %>

    <!-- Footer -->
    <%- include('partials/footer', config) %>
  </body>
</html>
